[MODE]
# purchase_order 普通认购单 #agent_purchase 代理认购单
mode = {
        "purchase_order":[],
        "agent_purchase":"all"

        }

[DB]
#链接名称
host=8.129.121.224
#端口
port=3306
#用户名
user=xiezx
#密码
password=Yunjinji@2020
#数据库名称
database=yunDB
#字符编码
charset=utf8


[EMAIL]
#qq邮箱smtp服务器
host_server = 'smtp.qq.com'
#邮件接收人
email_to = ['13729112152@163.com']

sender = '914815407@qq.com'
pwd = 'fkzgooawhaqybgaj'