[ORDER_MODE]
# purchase_order 普通认购单 #agent_purchase 代理认购单
# 1、如果是普通认购单，purchase_order就为all，agent_purchase为[]
# 2、如果是代理认购单，agent_purchase就为all，purchase_order为[]

purchase_mode = {
        "purchase_order":[],
        "agent_purchase":"all"
        }

# 结佣单
[PAYTICKET]
# 平台结佣platform_pay  门店结佣pay_ticket
# 1、如果是普通认购单，pay_ticket就为all，platform_pay为[]
# 2、如果是代理认购单，platform_pay就为all，pay_ticket为[]

pay_mode = {
            "platform_pay":"all",
            "pay_ticket" : [],
            "xf_pay_ticket":[]
            }

# 收佣单
[RECTICKET]
rec_mode = {"rec_ticket":"all"}




[DB]
#链接名称
host=8.129.121.224
#端口
port=3306
#用户名
user=xiezx
#密码
password=Yunjinji@2020
#数据库名称
database=yunDB
#字符编码
charset=utf8


[EMAIL]
#qq邮箱smtp服务器
host_server = 'smtp.qq.com'
#邮件接收人
email_to = ['13729112152@163.com']

sender = '914815407@qq.com'
pwd = 'fkzgooawhaqybgaj'